footer {

    .footer-content {
        width: 100%;
        height: 100px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: visible;

            h1  {
                font-family: $font-family;
                color: $text-blue;
            }

            .social-media {
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .facebook-icon svg {
                    font-size: 2.5em;
                    border: none;
                    cursor: pointer;
                    background: transparent;
                    color: $text-orange;
                }
                .facebook-icon:hover svg{
                    color: $text-orange-hover;
                    transition: .25s ease-in-out;
                }

                .instagram-icon {
                    @extend .facebook-icon
                }

                .twitter-icon {
                    @extend .facebook-icon
                }
            }

            .copyright-wrapper{
        
                .danlubbers, a{
                    color: rgb(125, 125, 125);
        
                }
                .danlubbers:hover {
                    color: rgb(150, 150, 150);
                    transition: .35s;
                }
            }
    }

}