@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Baumans');

/* Variables */
$font-family: 'Baumans', cursive;
$font-family1: 'Rajdhani', sans-serif;

$background-color: rgb(50, 50, 44);
$text-orange: rgb(201, 125, 48);
$text-orange-hover: rgb(255, 158, 60);
$text-blue: rgb(116, 149, 162);
$text-white:rgb(194, 194, 194);
$text-blue-accessibility: rgb(176, 195, 201);
$text-grey-accessibility: rgb(191, 191, 191);

// Import Partials
@import './Components/Header/Header';
@import './Components/Footer/Footer';
@import './Components/Home/Home';
@import './Components/About/About';
@import './Components/Services/Services';
@import './Components/Contact/Contact';

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  // background-color: rgb(96, 131, 96);
}

.entire-app-wrapper {
  text-align: center;

}
    .footer-app-wrapper {
      width: 100vw;
      height: 100px;
      right: 0;
      bottom: 0;
      left: 0;
      position: relative;
      margin-top: 75px;
      background-color: $background-color;
    }









